<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo list</title>
    <link rel="stylesheet" href="styleCalendar.css" />
    <link rel="stylesheet" href="styleBoard.css" />
    <link rel="stylesheet" href="styleToggle.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/f675eb60c1.js"
      crossorigin="anonymous"
    ></script>
    <script src="./node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="toggle">
        <div class="userInfo">
          <div class="img">
            <img
              src="./img/blank-profile-picture-973460_960_720.png"
              alt="userImg"
            />
          </div>
          <div class="name"><h5>Бат-Өлзий</h5></div>
        </div>
        <div class="nav">
          <div class="list today activeList">
            <h4><i class="fas fa-star"></i>Өнөөдөр</h4>
          </div>
          <div class="list lists"><h4>Самбар</h4></div>
          <div class="list calendar"><h4>Хуанли</h4></div>
          <div class="list graph"><h4>Тайлан</h4></div>
        </div>
        <div class="settings"><i class="fas fa-cog"></i></div>
      </div>
      <div id="calendar">
        <div class="monthSelector">
          <div class="yearMonth">
            <i
              style="font-size: 30px; margin-right: 10px"
              class="far fa-calendar-alt"
            ></i
            >{{ calendarHead }}
          </div>
          <div class="toggleMonth">
            <div class="previous selector">
              <i class="fas fa-angle-left" @click="month--"></i>
            </div>
            <div class="next selector">
              <i @click="month++" class="fas fa-angle-right"></i>
            </div>
          </div>
        </div>
        <div class="calendarMonth">
          <div class="week">
            <div v-for="weekday in weekdays" class="day">
              {{ weekday }}
            </div>
          </div>
          <hr style="width: 100%" />
          <div class="days">
            <div class="day" v-for="day in daysOfMonth">
              <div class="num" :class="isActive(day)">{{ day }}</div>
            </div>
          </div>
        </div>
      </div>
      <div id="board">
        <div id="lists"></div>
        <div id="graph"></div>
      </div>
    </div>

    <script src="main.js"></script>
  </body>
</html>
