html {
  height: 100%;
  display: flex;
}
body {
  flex: 1 1 auto;
  margin: 50px;
  background: #f5f5f5;
  display: flex;
}
#toggle,
#calendar,
#board {
  flex: 1 1 auto;
  display: flex;
}

#toggle {
  flex-direction: column;
  background: #1b2180;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  flex-basis: 100px;
  justify-content: center;
  position: relative;
}

.nav {
  display: flex;
  height: 40%;
  flex-direction: column;
  position: absolute;
  width: 80%;
  right: 0;
}

.list {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: white;
}

.list h2 {
  position: absolute;
  margin: 0;
}

.activeList {
  color: #1b2180;
  background: #e4e4e4;
}

#calendar {
  background: #e4e4e4;
  flex-basis: 200px;
  flex-direction: column;
  align-items: center;
}

#board {
  flex-direction: column;
  flex-basis: 400px;
}

.today,
.lists,
.calendar,
.graph {
  flex: 1 1 auto;
}

#lists,
#graph {
  flex: 1 1 auto;
}

#lists {
  background: #ffffff;
  border-top-right-radius: 40px;
  flex-basis: 300px;
}

#graph {
  background: #21308c;
  flex-basis: 100px;
  border-bottom-right-radius: 40px;
}

.date {
  width: 80%;
  display: flex;
}

.calendarMonth {
  width: 80%;
  height: 47%;
  background: white;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.dateContainer {
  display: flex;
  flex-basis: 100px;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
